[submodule "bin/Gogh"]
	path = bin/Gogh
	url = http://github.com/Mayccoll/Gogh
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-go"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-protobuf"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-protobuf
	url = git://github.com/uarun/vim-protobuf
[submodule "apps/vim/focal/vim/pack/vendor/start/nerdtree"]
	path = apps/vim/focal/vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-orgmode"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-SyntaxRange"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-SyntaxRange
	url = https://github.com/inkarkat/vim-SyntaxRange
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-ingo-library"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-repeat"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-repeat
	url = http://github.com/tpope/vim-repeat
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-tagbar"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-speeddating"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-NrrwRgn"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-calendar"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-calendar
	url = http://github.com/mattn/calendar-vim
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-ultisnips"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-ultisnips
	url = http://github.com/SirVer/ultisnips
[submodule "bin/trash-cli"]
	path = bin/trash-cli
	url = https://github.com/andreafrancia/trash-cli.git
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-markdown-preview"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-markdown-preview
	url = http://github.com/iamcco/markdown-preview.nvim
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-markdown"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "apps/vim/focal/vim/pack/plugins/start/vim-fenced-code-blocks"]
	path = apps/vim/focal/vim/pack/plugins/start/vim-fenced-code-blocks
	url = https://github.com/amiorin/vim-fenced-code-blocks
[submodule "bin/EasyScreenCast"]
	path = bin/EasyScreenCast
	url = https://github.com/EasyScreenCast/EasyScreenCast.git
[submodule "bin/screenkey"]
	path = bin/screenkey
	url = https://gitlab.com/screenkey/screenkey
[submodule "bin/drive"]
	path = bin/drive
	url = https://github.com/odeke-em/drive
